/* * { */
/* } */

body {
  font-family: "Bitter", serif;
  font-size: 16px;
  background-color: midnightblue;
  display: flex;
  flex-direction: column;
  align-items: center

}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

h1 {
  margin: 1%;
  padding: 1%;
  font-family: "Bitter", serif;
  text-align: center;
  font-size: 6rem;
  color: gold;
  margin-top: 5%;
  margin-bottom: 5%;
}

#startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startPage p {
  color: white;
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}


#hiScorePage {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 67%

}

#hiScorePage table {
  font-size: 2rem;
  width: 100%;
  background-color: seashell;
  margin-bottom: 1%

}

#hiScorePage table th {
  font-size: 2rem;
  /* border: 2px solid #000; */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3px;
  padding-bottom: 3px;
}

#hiScorePage table td {
  /* border: 2px solid #000; */
  font-size: 2rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
}

#gamePage {
  background-color: darkblue;
  width : 90%;
  border-radius: 5px;
  border: 9px double darkgrey;
  color: seashell;
  display: none;
}

#gamePage h2 {
  text-align: center;
  font-size: 2.25rem;
  margin: 3%
}
#gamePage ul {
  width: 66%;
  text-align: center;
  margin: 1%;
}
#gamePage li {
  font-size: 1.5rem;
  margin: 1%;
  line-height: 1.5;
  border: 2px solid black;
  background-color: blue;
}

#gamePage li:hover{
  background-color: violet
}

#clock {
  font-size: 5rem;
  color: gold;
  margin-bottom: 3%;
  margin-top: 3%
}

#endPage {
  display: none;
  flex-direction: column;
  align-items: center;
}

#endPage h3 {
  color: white;
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

#endPage p {
  color: goldenrod;
  font-size: 6rem;
  margin-top: 5%;
  margin-bottom: 5%;
}

#endPage form {
  display: flex;
  flex-direction: column; 
  align-items: center;
  color: seashell;
  font-size: 1.5rem;
  margin: 1rem
}

#endPage form input{
  margin: .8rem
}



