/* * { */
/* } */

body {
  font-family: "Bitter", serif;
  font-size: 16px;
  background-color: midnightblue;

}

h1 {
  margin: 1%;
  padding: 1%;
  font-family: "Bitter", serif;
  text-align: center;
  font-size: 5rem;
  color: yellow;
}

#start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start p {
  color: white;
  font-size: 2rem;
}
